<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yltrcc.frs.mapper.TbUserMapper">

	<resultMap type="com.yltrcc.frs.module.entity.TbUser" id="AllMap">
		<id column="user_id" jdbcType="INTEGER" property="user_id" />
		<result column="user_name" jdbcType="VARCHAR" property="user_name"/>
		<result column="user_type" jdbcType="VARCHAR" property="user_type"/>
		<result column="shop_id" jdbcType="INTEGER" property="shopId"/>

	</resultMap>

	
	<!-- 管理员登录 -->
	<select id="query" resultMap="AllMap" parameterType="com.yltrcc.frs.module.UserRequest">
		SELECT user_id, user_name, user_type, shop_id FROM tb_user
		where wx_nickname = #{nickName}
	</select>



</mapper>