<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yltrcc.frs.mapper.TbUserMapper">

	<resultMap type="com.yltrcc.frs.module.entity.TbUser" id="AllMap">
		<id column="user_id" jdbcType="INTEGER" property="user_id" />
		<result column="user_name" jdbcType="VARCHAR" property="user_name"/>
		<result column="user_type" jdbcType="VARCHAR" property="user_type"/>
		<result column="shop_id" jdbcType="INTEGER" property="shopId"/>
		<result column="user_portrait" jdbcType="VARCHAR" property="userPortrait"/>
		<result column="user_info" jdbcType="VARCHAR" property="userInfo"/>
		<result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname"/>

	</resultMap>

	
	<!-- 管理员登录 -->
	<select id="query" resultMap="AllMap" parameterType="com.yltrcc.frs.module.UserRequest">
		SELECT * FROM tb_user
		<if test=' nickName != null'>
			where wx_nickname = #{nickName}
		</if>
		<if test=' type != null'>
			where user_type = #{type}
		</if>
	</select>

	<!-- 管理员登录 -->
	<select id="statisticsUser" resultType="java.lang.Integer" parameterType="com.yltrcc.frs.module.UserRequest">
		SELECT count(user_id) FROM tb_user
		<if test=' type != null'>
			where user_type = #{type}
		</if>
	</select>
	<!-- 管理员登录 -->
	<select id="statisticsShop" resultType="java.lang.Integer" parameterType="com.yltrcc.frs.module.UserRequest">
		SELECT count(user_id) FROM tb_user
		<if test=' type != null'>
			where user_type = #{type}
		</if>
	</select>

	<!-- 管理员登录 -->
	<select id="login" resultMap="AllMap" parameterType="com.yltrcc.frs.module.UserRequest">
		SELECT * FROM tb_user
		where user_name = #{username} and pwd =  #{passwd}
	</select>
	<!-- 管理员登录 -->
	<select id="getShopByUserId" resultMap="AllMap" parameterType="com.yltrcc.frs.module.UserRequest">
		SELECT
			tbo.*,
			tbu.*
		FROM
			tb_order tbo
			LEFT JOIN tb_user tbu ON tbo.order_user_id = tbu.user_id
		WHERE
			tbo.order_shop_id = #{shopId}
		limit #{page_num},#{page_size}
	</select>

	<!-- 管理员登录 -->
	<select id="queryShopCountByUserId" resultType="java.lang.Integer" parameterType="com.yltrcc.frs.module.UserRequest">
		SELECT
			count(*)
		FROM
			tb_order tbo
			LEFT JOIN tb_user tbu ON tbo.order_user_id = tbu.user_id
		WHERE
			tbo.order_shop_id = #{shopId}
	</select>

	<insert id="saveUser" parameterType="com.yltrcc.frs.module.entity.TbUser" useGeneratedKeys="true" keyProperty="id">
        insert into
            tb_user (user_name, pwd, tel,add_time, user_type, user_info, user_portrait)
        values
            (#{user_name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
            #{addTime,jdbcType=TIMESTAMP}, #{user_type,jdbcType=VARCHAR}, #{userInfo,jdbcType=VARCHAR}
            , #{userPortrait,jdbcType=VARCHAR}
            )
    </insert>

	<delete id="deleteFoodById" parameterType="com.yltrcc.frs.module.entity.TbUser" flushCache="true" statementType="PREPARED" timeout="20">
		delete from tb_user where user_id = #{user_id}
	</delete>


	<!-- 管理员登录 -->
	<update id="updateUser" parameterType="com.yltrcc.frs.module.entity.TbUser">
		UPDATE tb_user
		<set>
			<if test=' user_name != null'>
				user_name = #{user_name,jdbcType=VARCHAR},
			</if>
			<if test=' pwd != null'>
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test=' tel != null'>
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test=' user_type != null'>
				user_type = #{user_type,jdbcType=VARCHAR},
			</if>
			<if test=' userInfo != null'>
				user_info = #{userInfo,jdbcType=VARCHAR},
			</if>
		</set>

		<if test=' user_id != null'>
			where user_id = #{user_id}
		</if>
	</update>

</mapper>